.width-100{
    width:100%;
}
.center-row{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.relative{
    position: relative;
}
.gap-15{
    gap:15px;
}
.top-5{
    top:5px;
}
.top-11{
    top:11px;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}